:root {
   background-color: smokewhite; 
   color: #333333;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 12pt;
   margin-left: -8pt;
   margin-right: -8pt;
}

#homeBar {
    text-align: center;
    margin: 0px;
    border-radius: 0vw 0vw 0vw 4vw;
    background-color: #aa44aa;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 73pt;
    box-shadow: -3px 8px 8px  0px grey;
}

.purpose {
    width: 75%;
    text-align: center;
    max-width: 750px;
    display: block;
    margin-top: 25pt;
 	margin-left: auto;
 	margin-right: auto;
}

.logo {
    font-family: "Popstick", Fallback, sans-serif;
    letter-spacing: .1vw;
    margin-left: 10vw;
    position: absolute;
    font-size: 46pt;
    display: inline block;
    color: #903030;
    font-weight: bold;
    transition: all .1s ease-in;
}

.logo:hover {
    text-shadow: 0 0 6px #bbbbbb;
    transition: all .35 ease-out;
}

#title-img {
	width: 60%;
    max-width: 600px;
    display: block;
    margin-top: 110pt;
 	margin-left: auto;
 	margin-right: auto;
	outline: 7pt solid #1f1f1f;
}

.container {
    padding-left: 5vw;
    padding-bottom: 20pt;
    background-color: #e0e0e0;
}

.container img {
    width: 20%;
    max-width: 170pt;
    float: right;
    margin-right: 30pt;
    margin-top: -50pt;
}

.container a {
    background-image: linear-gradient(to right, #026a5f, #2d2d87);
    color: whitesmoke;
    font-size: 18pt;
    width: auto;
    float: right;
    margin-top: -15vh;
    margin-right: 15vw;
    padding: 15pt;
    border-radius: 99pt;
    transition: all .1s ease-in;
}

.container p {
    width: 50%;
}

h1 {
    font-family: "Popstick", Fallback, sans-serif;
    font-size: 40pt;
    margin-top: 35pt;
    padding-left: 3vw;
    padding-right: 30pt;
    margin-right: 35vw;
    border-bottom-style: solid;
}

small {
    font-size: 3vh;
    color: #af6f3b;
}

.navbar {
    font-size: 0;
    margin-right: 5vw;
    display: block;
    float: right;
    transform: translatey(8vh);
}

a {
    font-size: 15pt;
    color: #076f64;
    padding: 1.2vh;
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
    width: 7vw;
    min-width: 45pt;
    text-decoration: none;
    transition: all .1s ease-in;
}


a:hover {
    background-image: none;
    background-color: #c655a4;
    text-shadow: 2px 2px 5px #aaaaaa;
    transform: translatey(1px);
    transition: all .35s ease-out;
}

@font-face {
    font-family: "Popstick";
    src: url(../fonts/Popstick-Demo-Regular.ttf);
  }